body {
    font-family: Arial;
}

table {
    border-collapse: collapse;
    margin: 20px auto;
}

td, th {
    padding: 8px 12px;
    border: 1px solid #444;
}

button {
    margin: 10px;
    padding: 10px 15px;
    font-size: 16px;
}

